<% layout('./boilerplate.ejs')%>

<%if(display){%>
  <%const url="https://codeforces.com/contest/"%>
    <div class="container">
      <div class="row">
          <%problems.forEach((problem,index)=>{%>
            <%if(problem.cntSubmission){%>
              <div class="col-sm-6 my-2">
                <div class="card" style="width: 40rem;">
                  <div class="card-body">
                    <h5 class="card-title">Problem <%=String.fromCharCode(index+65)%></h5>
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="card-text">Number of submissions</p>
                      </div>
                      <div class="col-sm-6">
                        <p class="card-text"><%=problem.cntSubmission%></p>
                      </div>
                      <div class="col-sm-6">
                        <p class="card-text">Number of AC submissions</p>
                      </div>
                      <div class="col-sm-6">
                        <p class="card-text"><%=problem.cntAC%></p>
                      </div>
                      <div class="col-sm-6">
                        <p class="card-text">Fastest Submission </p>
                      </div>
                      <div class="col-sm-2">
                        <p class="card-text"><%=problem.fastestSubmission.submitTime%></p>
                      </div>
                      <div class="col-sm-4">
                        <p class="card-text text-muted">in <a href="<%=url+problem.fastestSubmission.contestID%>"><%=problem.fastestSubmission.contestID%></a></p>
                      </div>
                      <div class="col-sm-6">
                        <p class="card-text">Slowest Submission </p>
                      </div>
                      <div class="col-sm-2">
                        <p class="card-text"><%=problem.slowestSubmission.submitTime%></p>
                      </div>
                      <div class="col-sm-4">
                        <p class="card-text text-muted">in <a href="<%=url+problem.slowestSubmission.contestID%>"><%=problem.slowestSubmission.contestID%></a></p>
                      </div>
                      <div class="col-sm-6">
                        <p class="card-text">Max Rated Problem Solved </p>
                      </div>
                      <div class="col-sm-2">
                        <p class="card-text"><%=problem.maxRatedProblem.rating%></p>
                      </div>
                      <div class="col-sm-4">
                        <p class="card-text text-muted">in <a href="<%=url+problem.maxRatedProblem.contestID%>"><%=problem.maxRatedProblem.contestID%></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <%}%>
          <%})%>
      </div>
    </div>
<%}%>
